@model AgencyService.Property

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Submit", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AgencyCode)
        @Html.TextBoxFor(m => m.AgencyCode, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Latitude)
        @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Longitude)
        @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control" })
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>
}